[Unit]
Description="Backend sidecar proxy service"
Requires=network-online.target backend.service
After=network-online.target backend.service

[Service]
ExecStart=/usr/bin/consul connect envoy -sidecar-for backend \
  -admin-bind 127.0.0.1:19001
Restart=on-failure

[Install]
WantedBy=multi-user.target
