[Unit]
Description="Frontend randomer service"

# The service requires the VM's network
# to be configured, e.g., an IP address has been assigned.
Requires=network-online.target
After=network-online.target

[Service]
# ExecStart is the command to run.
ExecStart=/usr/local/bin/frontend-randomer

# Restart configures the restart policy. In this case, we
# want to restart the service if it fails.
Restart=on-failure

# Environment sets environment variables.
# We will set the frontend service to listen
# on port 7050
Environment=BIND_ADDR=0.0.0.0:7060

# Use the sidecar proxy to connect to the backend
Environment=BACKEND_URL=http://localhost:7061

# The Install section configures this service to start
# automatically if the VM reboots.
[Install]
WantedBy=multi-user.target
